html,body{
	background-color: #3b3c3f;
	height: 100%;
}
a{
    text-decoration: none;
    color:#34443d;
}
#container{
	background-color: #897c8b;
	width:auto;
	font-family:'Open Sans', sans-serif;
	font-size:17px;
	height:100%;
	margin-left:auto;
	margin-right:auto;
}

#nav{
	background-color:#4e4e4f;
	font-family:'Montserrat', sans-serif;
	padding:50px;
	margin-bottom:10px;
	position: relative;
	width: auto;
}
#name_logo{
	text-align:left;
	background-color:#4e4e4f;
	font-family:'Dancing Script', cursive;
	color:lime;
	width:200px;
	height:48px;
	float:left;
}
#ret{
	border:2px solid #4CAF50;
	border-radius: 10px;
	background-color:#45f442;
	text-align:center;
	float:right;
	position: relative;
	top:0;
	padding: 10px;
	font-size: 1vw;
	max-width: 150px;

}
#ret:hover{
	border:2px solid #4CAF50;
	border-radius: 10px;
	background-color:white;
	text-align:center;
	float:right;
	position: relative;
	top:0;
	font-size: 1vw;
	max-width: 150px;
}
header{
	margin: 0px 0px 0px 30px;
	max-width: 400px;
}
#wrapper{
	color: lime;
	font-family:'Montserrat', sans-serif;
	margin: 80px 0px 0px 170px;
	background-color: #4e4e4f;
	opacity: 0.8;
	max-width: 550px;
}
.form{
	//background-color: blue;
	position: relative;
	max-width: 400px;
	min-height: 350px;
	margin-left: 30px;
}
#choices{
	margin: 10px;
	font-family:'Montserrat', sans-serif;
	cursor: pointer;
	padding: 5px;
	border:2px solid #4CAF50;
	border-radius: 10px;
	background-color:#45f442;

}
#choices:focus{ outline: 0;}

.reg-field{
	background-color:#d9dde2;
	width:100%;
	margin:0 0 15px;
	padding:10px;
	border:0;
}

#REG_button{
	padding: 10px;
	margin: 10px 10px 10px 170px;
	border: 0;
	border:2px solid #4CAF50;
	background-color:#45f442;
	border-radius: 10px;
	text-align:center;
	font-family:'Montserrat', sans-serif;

}
#REG_button:focus{
	outline: 0;
}
#REG_button:hover{
	padding: 10px;
	margin: 10px 10px 10px 170px;
	border: 0;
	border:2px solid #4CAF50;
	background-color:white;
	border-radius: 10px;
	text-align:center;
	font-family:'Montserrat', sans-serif;

}

.error{
	color:lime;
	width: 100%;
	padding: 10px;
	max-height: 10px;
	font-size: 1vw;
	margin: 15px;
}
